/*font-family: 'Playfair Display', serif;
font-family: 'Alegreya', serif;
font-family: 'Poppins', sans-serif;*/

#footer {
  color: #3d3d3d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 0.8em;
  border-top: 1px solid #3d3d3d;
  border-width: 80%;
  padding: 3px;
  margin-top: 3px;
}

h1 {
	font-size: 3rem;
	color: #324359;
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
