/*font-family: 'Playfair Display', serif;
font-family: 'Alegreya', serif;
font-family: 'Poppins', sans-serif;*/

.caption {
  margin-top: 3px;
  margin-bottom: 20px;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 0.75em;
}

.sponsorlist {
  padding: 3px;
  margin-left: 2em;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 1em;
  padding: .08px;
  line-height: 1.5rem;
  text-decoration: none;
}

nav a .container {
  display: block;
	margin: 0;
	padding: 1px;
  text-decoration: none;
  border-top: 1px #79896d solid;
  justify-content: center;
  color: #3d3d3d;
}

.container a:link, .container a:visited {
	display: block;
	color: #3d3d3d;
	font-weight: 500;
	font-size: 12pt;
	text-decoration: none;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	padding: 5px;
  padding-top: 15px;
	border-radius: 1px;
	margin: 2px;
}

.container a:hover, a:active {
	color: #616f9e;
  text-decoration: none;
}

.container li {
    display: block;
    text-decoration: none;
    padding-top: 19px;
    padding-right: 10px;
}

nav a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 50px 30px;
    color: #3d3d3d;
    font-size: 1em;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #CCCCCC;
    margin: 0;
    padding: 0 0;
    justify-content: space-around;
    text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: #3d3d3d;
  text-decoration:none;
  cursor:pointer;
}

.menu-trigger {
    order: 1;
    font-size: 1.2em;
    width: .5em;
}

header h1 {
    order: 2;
}

nav ul {
    display: none;
}

#footer {
  color: #ffffff;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 0.7em;
  padding: 15px;
  background-color: #679fc2;
}

p {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 1em;
  padding: .08px;
  line-height: 1.6rem;
}

h1 {
	font-size: 1.8rem;
	color: #324359;
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
	font-weight: 900;
	text-align: left;
  margin-top: 30px;
}

.logo {
  padding-bottom: 2px;
  padding-top: 0px;
  margin-top: 14px;
}

h2 {
	font-size: 1.3rem;
	color: #3d3d3d;
	font-family: 'Poppins', Helvetica,sans-serif;
	padding: 2.3px;
  padding-top: 25px;
  padding-bottom: 15px;
  text-decoration: none;
}

h4 {
	font-size: 1.4rem;
	color: #ea694a;
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
	text-align: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nominate {
  padding: 0;
}

.sponsorship {
  padding: 0;
}

#button a{
  display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background-color: #ea694a;
	padding: 15px;
  margin-top: 50px;
  margin-bottom: 65px;
}

#button2 a{
  display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background-color: #b1e395;
	padding: 15px;
  margin-top: 50px;
  margin-bottom: 65px;
}

#button a:hover {
  	background-color: #3d3d3d;
}

#button2 a:hover {
  	background-color: #3d3d3d;
}

h3 {
	font-size: .9rem;
	color: #3d3d3d;
	font-family: 'Poppins',Helvetica,sans-serif;
	padding: 1px;
}

.bolder {
  font-weight: bolder;
  font-size: 1.1em;
  color: #ea694a;
}

#socialmediawidgets {
  float: right;
  margin-left: 5px;
  padding-bottom: 10px;
  vertical-align: middle;
  padding-top: 0;
}

#image {
	width: 450px;
	max-width: 100%;
	max-height: 450px;
}

.images {
  justify-content: center;
  width: 100%;
}

.sponsorimages {
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.search {
  padding-top: 14px;
}

.group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 10px;
}

.home {
  margin: 0px;
  padding: 0px;
}

.sentence2 {
  margin-bottom: 25px;
  margin-top: 0px;
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 600;
}

.explain {
  margin-bottom: 20px;
  color: #3d3d3d;
}

.sentence {
  font-size: 1.5em;
  color: #679fc2;
  margin: 0px;
  margin-top: 30px;
  line-height: 1.4em;
  padding: 0px;
  margin-bottom: 50px;
  font-weight: bolder;
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
}

.underlined {
  text-decoration: underline;
  font-size: 1.6em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#articles {
  background-color: #cccccc;
  padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: normal;
  font-size: .9rem;
	list-style-type: none;
  margin-bottom: 65px;
  margin-top: 10px;
}

#articles a:hover {
  color:#ffffff;
  text-decoration:none;
  cursor:pointer;
}

#container {
  width: 95%;
  margin: 0 auto;
}

.flexcontainer {
	display: flex;
	justify-content: space-between;
	flex-flow: column wrap;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: stretch;
	flex-shrink: 10;
}

.bold {
  font-weight: 400;
  background-color: #6A757F;
  color: #fff;
}

.h5 {

}

.years {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  grid-template-areas:
  "a b"
  "c d";
}

.years {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 2em;
    justify-content: center;
    color: #ffffff;
    margin-top: 0px;
    padding: 0;
    padding-bottom: 50px;
    list-style: none;
    justify-content: center;
}

.years li {
    display: block;
    background-color: #679fc2;
    border: none;
    padding: 50px;
    border-radius: 3px;
    color: #ffffff;
}

.years li:hover, .years li:active {
  display: block;
  background-color: #616f9e;
  color: #ffffff;
}

.years a:hover, .years a:active {
  display: block;
  color: #ffffff;
  width: 100%;
}

.years a {
display: block;
width: 100%;
color: #ffffff;
}


@media screen and (min-width: 300px) {

  article {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    max-width:100%;
    height:auto;
  }

  .home {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0;
  }

  .group {
    margin-bottom: 30px;
    padding-bottom: 0;
  }

  .sentence {
    padding-bottom: 20px;
  }

  .container {

  }

/* #container2 {}
  article3 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "b"
    "a"
    "c"
    "d"
    "e"
    "f";
  } */

/*
  article3 {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    flex-grow: 100;
    flex-direction: row;
    justify-content: center;
    grid-template-areas:
    "b"
    "a"
    "c"
    "d"
    "e"
    "f";
  } */

  .profile {
    width: 100%;
  }

  .profile img {
    width: 50px;
  }

  .pullquote {
    background-color: #e2e2e2;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top:20px;
  }

  .pullquote h2{
    color: #616f9e;
    font-size: 1.75em;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .pullquote h3{
    color: #3d3d3d;
    font-size: 1.25em;
    padding-top: 0;
    margin-top: 0;
  }

  .pullquote p{
    font-size: .9em;
  }

  .pullquote {
    grid-area: d;
    background-color: #e2e2e2;
    color: #000
  }

  .closing {
    margin-bottom: 50px;
  }
}


@media (max-width: 800px) {
  article {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .container li {
    text-decoration: none;
    border-top: 1px #79896d solid;
    padding: 0;
    padding-bottom: 10px;
  }

  .pullquote {
    grid-area: d;
    background-color: #e2e2e2;
    color: #000
  }
/*
    article3 {
      display: grid;
      grid-template-columns: 200px 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      grid-template-areas:
      "a b"
      "c c"
      "d d"
      "e e"
      "f f";
    } */
  }

@media screen and (min-width: 800px){

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-column-gap: 40px;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j";
    justify-content: center;
  }

  .years {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 3em;
    justify-content: center;
    color: #ffffff;
    padding-top: 15px;
  }

  .years li {
    padding-top: 60px;
    padding-bottom: 60px;
  }

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

    header {
      justify-content: space-between;
    }

    .home {
      margin-top: 0px;
      margin-bottom: 15px;
      padding: 0;
    }

    .group {
      margin-bottom: 30px;
      padding-bottom: 0;
    }

    .sentence {
      padding-bottom: 30px;
    }

  /*  .images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      justify-content: center;
      grid-template-areas:
      ". a b ."
      ". c d ."
      ". e f ."
      ". g h ."
      ". i j .";
    } */

    article2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      justify-content: center;
      grid-template-areas:
      "a b c"
    }

    .pullquote {
      max-width: 400px;
      max-height: 1800px;
      grid-area: d;
      background-color: #e2e2e2;
      color: #000;
      padding-bottom: 50px;
      padding-top: 0px;
      margin-top: 0px;
    }

    .pullquote h2{
      color: #616f9e;
      font-size: 1.5em;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 5px;
      margin-bottom: 0;
    }

    .pullquote h3{
      color: #3d3d3d;
      font-size: 1em;
      padding-top: 20px;
      margin-top: 0;
    }

    .pullquote p{
      font-size: .8em;
    }

    article3 {
      display: grid;
      grid-template-columns: 200px 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0;
      grid-template-areas:
      "a a b"
      "c c d"
      "f f f"
      "e e e";
    }

    .intro {
      grid-area: a;
    }
    .profile {
      grid-area: b;
    }

    .part2 {
      grid-area: c;
    }

    .sherman {
      padding-top: 30px;
    }

    .part3 {
      grid-area: f;
    }
    .closing {
      grid-area: e;
      margin-bottom: 40px;
    }

  .pullquote {
    max-width: 400px;
    max-height: 1150px;
    grid-area: d;
    background-color: #e2e2e2;
    color: #000;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  article3 {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0;
    grid-template-areas:
    "a a b"
    "c c c"
    "f f d"
    "e e e";
  }

  .intro {
    grid-area: a;
  }
  .profile {
    grid-area: b;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .part2 {
    grid-area: c;
  }

  .part3 {
    grid-area: f;
  }
  .closing {
    grid-area: e;
  }

  }


@media screen and (min-width: 1000px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-column-gap: 40px;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j";
    justify-content: center;
  }

  .sponsorimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b ."
    justify-content: left;
  }

  .image {
    display: flex;
    flex-wrap: wrap;
  }

.sponsorimage1 {
  grid-area: a;
}

.sponsorimage2 {
  grid-area: b;
}

.sponsorimage3 {
  grid-area: a;
}

.sponsorimage4 {
  grid-area: b;
}

.sponsorimage5 {
  grid-area: c;
}

  .image1 {
    grid-area: a;
  }

  .image2 {
    grid-area: b;
  }

  .image3 {
    grid-area: c;
  }

  .image4 {
    grid-area: d;
  }
  .image5 {
    grid-area: e;
  }

  .image6 {
    grid-area: f;
  }

  .image7 {
    grid-area: g;
  }

  .image8 {
    grid-area: h
  }

  .image9 {
    grid-area: i
  }

  .image10 {
    grid-area: j
  }
}

@media screen and (min-width: 1000px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j . .";
  }

  #images {
    justify-content: center;
  }
}

/*MENU*/


@media screen and (min-width: 1000px){
  #container {
    max-width: 975px;
  }

  .flexcontainer{
    max-width: 800px;
    justify-content: center;
    float: none;
    margin: 20px;
  }

  #flexcontainer{
    max-width: 800px;
  }

  .pullquote {
    max-width: 400px;
    max-height: 1100px;
    grid-area: d;
    background-color: #e2e2e2;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .pullquote h2{
    color: #616f9e;
    font-size: 1.55em;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .pullquote h3{
    color: #3d3d3d;
    font-size: 1.25em;
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 10px;
  }

  .pullquote p{
    font-size: .9em;
  }

  article3 {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-areas:
    "a a b"
    "c c d"
    "f f f"
    "e e e";
  }

  .intro {
    grid-area: a;
  }
  .profile {
    grid-area: b;
  }

  .part2 {
    grid-area: c;
  }

  .sherman {
    padding-top: 30px;
  }

  .part3 {
    grid-area: f;
  }
  .closing {
    grid-area: e;
    margin-bottom: 40px;
  }

.pullquote {
  max-width: 400px;
  max-height: 900px;
  grid-area: d;
  background-color: #e2e2e2;
  color: #000;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

article3 {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0;
  grid-template-areas:
  "a a b"
  "c c c"
  "f f d"
  "e e e";
}

.intro {
  grid-area: a;
}
.profile {
  grid-area: b;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.part2 {
  grid-area: c;
}

.part3 {
  grid-area: f;
}
.closing {
  grid-area: e;
}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
